@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    background-color: #FAFAFA !important;
    ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}